/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */
* {
  margin: 0px;
  padding: 0px;
}
html {
  position: relative;
  min-height: 100%;
}
body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  margin-bottom: 23.375rem; /* Margin bottom by footer height */
  color: #444444;
  overflow-x: hidden;
  font-weight: 400;
}

section {
  margin: 1.25rem;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  font-weight: 400;
  color: #00457a;
  padding: 0.625rem 0;
}
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.875rem;
}
h3 {
  font-size: 1.675rem;
}
h4 {
  font-size: 1.5rem;
}
h5 {
  font-size: 1.25rem;
}
h6 {
  font-size: 1rem;
}

a {
  color: #2b78e4;
  cursor: pointer;
}
a:hover {
  color: #5999f3;
}

.content-container {
  box-shadow: 0 0.25rem 0.375rem 0 hsla(0, 0%, 0%, 0.2);
  background: hsl(0, 0%, 100%);
  padding: 2rem;
}

.light-text {
  color: #666666;
}

.title-text {
  font-weight: 500;
  font-size: 1.125rem;
  margin-bottom: 0.375rem
}

.small-light-text {
  font-size: 0.875rem;
  opacity: 0.5;
  font-weight: normal;
}
.normal-light-text {
  font-size: 1rem;
  opacity: 0.75;
  font-weight: 400;
}
.big-light-text {
  font-size: 1.25rem;
  opacity: 0.75;
  font-weight: 300;
}

.grouped-list {
  background: #fff;
  border-radius: 0.25rem;
  box-shadow: 0 0.125rem 0.375rem 0 hsla(0, 0%, 0%, 0.2);
}
.grouped-list-item {
  border-bottom: 1px solid #e8e8e8;
  margin: 0 auto;
  cursor: pointer;
}
.grouped-list-item:hover {
  background-color: hsla(220, 70%, 70%, 0.5);
  margin: 0 auto;
}
.grouped-list-item-check {
  margin: 0;
  background-color: hsla(0, 0%, 70%, 0.2);
}
.grouped-list-item-check-form, .grouped-list-item-actions {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.grouped-list-item-checkbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.main-input-append {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.input-group-append-button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.checkmark {
  height: 1.25rem;
  width: 1.25rem;
  border: 1px solid #2b78e4;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* On mouse-over, add a grey background color */
.grouped-list-item-check-form:hover input ~ .checkmark, .actions-buttons:hover {
  background-color: #ccc;
}
/* When the checkbox is checked, add a blue background */
.grouped-list-item-check-form input:checked ~ .checkmark {
  background-color: #2196F3;
}
/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
/* Show the checkmark when checked */
.grouped-list-item-check-form input:checked ~ .checkmark:after {
  display: block;
}
/* Style the checkmark/indicator */
.grouped-list-item-check-form .checkmark:after {
  width: 0.475rem;
  height: 0.75rem;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.grouped-list-item-link {
  margin: 1.25rem 0;
  display: flex;
  padding: 0.5rem 0; 
}
.grouped-list-item-content {
  flex: 1;
}
.grouped-list-item-image {
  padding-right: 0.9375rem;
}
.box-meta-item-left, .box-meta-item-right {
  color: #fff;
  padding: 0.25rem;
  font-size: 0.75rem;
  border-radius: 0.25rem;
}
.box-meta-item-left {
  background-color: hsla(220, 100%, 70%, 1);
  box-shadow: 0 0.1rem 0.1rem 0 hsla(0, 0%, 0%, 0.2);
  margin-right: 0.5rem;
}
.box-meta-item-right {
  background-color: hsla(0, 0%, 96%, 1);
  padding-right: 0.875rem;
  margin-right: 1.25rem;
  display: flex;
  justify-content: bottom;
  align-items: center;
  color: hsla(0, 0%, 0%, 1);
  box-shadow: 0 0.1rem 0.1rem 0 hsla(0, 0%, 0%, 0.2);
}

.row-spacing {
  padding: 3.125rem 0;
}
.row-styling {
  padding: 3.125rem 0;
  border-bottom: 0.0625rem solid #dddddd;
}
.nodes-list .row-styling:last-child {
  border-bottom: none;
}

.page-header {
  height: 6.875rem;
  background: #cccccc;
  border-bottom: 0.3125rem solid #2b78e4;
}

.divider {
  height: 0.0625rem;
  border-bottom: 0.0625rem solid #e5e5e5;
  margin: 0;
  padding: 0;
  width: 100%;
}
.blue-divider {
  height: 0.0625rem;
  border-bottom: 0.0625rem solid #2b78e4;
  margin: 0;
  padding: 0;
  width: 100%;
}

.user-actions-container {
  box-shadow: 0 0.25rem 0.375rem 0 hsla(0, 0%, 0%, 0.2);
  background: hsl(220, 15%,95%);
}
.user-actions-container>.form-inline {
  padding: 0.625rem;
}

.div-bordered {
  box-shadow: 0 0.125rem 0.375rem 0 hsla(0, 0%, 0%, 0.2);
  background: hsl(220, 15%,95%);
}

.thumbnail {
  height: 14.0625rem;
  width: 17.1875rem;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */
/* Carousel base class */
.carousel {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 29.6875rem;
  background-color: #777;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 29.6875rem;
}


/* MARKETING CONTENT
-------------------------------------------------- */
/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}


/* Featurettes
------------------------- */
.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}


/* RESPONSIVE CSS
-------------------------------------------------- */
@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 3.125rem;
  }
}
@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}



/* Custom page CSS
-------------------------------------------------- */
/* Sticky footer styles
-------------------------------------------------- */
/* Not required for template or sticky footer method. */
.footer {
  background: hsl(220, 15%,95%);
  bottom: 0;
  color: #333;
  font-size: 0.875rem; 
  min-height: 20.25rem; /* Set the fixed height of the footer here */
  line-height: 3.75rem; /* Vertically center the text there */
  position: absolute;
  width: 100%;
}
.footer-bottom {
  background: hsl(220, 5%, 90%)
}

.footer-menu .fa:hover {
  border-top: 0.125rem solid #e03616;
  border-bottom: 0.125rem solid #e03616;
}
.footer-menu {
  line-height: 1.5625rem;
  padding: 1rem 0;
  list-style: none;
  margin: 0;
}
.footer-section {
  padding: 3.125rem 0;
}
.fab, .far, .fas, .sharebutton, .no-btn-link {
  padding: 0.375rem 0.625rem;
}
.footer-vision {
  line-height: 1.5625rem;
  padding: 1rem 0;
  margin: 0;
  text-align: justify;
}
.fa-facebook-color {
  color: #3b5998;
}
.fa-twitter-color {
  color: #00aced;
}
.fa-youtube-color {
  color: #bb0000
}
.fa-facebook:hover {
  color: #3b5998;
}
.fa-twitter:hover {
  color: #00aced;
}
.fa-youtube:hover {
  color: #bb0000
}

/* Main column and sidebar layout
 -------------------------------------------------- */
/* Sidebar modules for boxing content
-------------------------------------------------- */
.sidebar-module {
  box-shadow: 0 0.125rem 0.375rem 0 hsla(0, 0%, 0%, 0.2);
  background: #f5f5f5;
}
.sidebar-module-inset {
  padding: 1rem;
}
.sidebar-module h6 {
  padding: 1rem;
  color: #fff;
  background: hsla(215, 77%, 53%, 1);
}

.card {
  border: none;
  box-shadow: 0 0.125rem 0.375rem 0 hsla(0, 0%, 0%, 0.2);
}
.card-header {
  padding: 1rem;
  color: hsla(215, 77%, 53%, 1);
  border-bottom: none;
  font-weight: 300;
  background: #f7f7f7;
}
.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
  margin-bottom: 0;
}

.sidebar-button {
  text-align: center;
}

.btn-donate {
  background-color: #e67f0d;
  border: 0.0625rem solid #333333;
  border-radius: 0.3125rem;
  color: #333333;
}

.main-column-div {
  height: auto;
}

/* Logo styles
-------------------------------------------------- */
#kcom-logo {
  position: absolute;
  height: 4.75rem;
  width: 5vw;
  padding-top: 0.8%;
  z-index: 1;
  float: left;
}

/* NAVBAR styles
-------------------------------------------------- */
/* Admin NavBar styles
-------------------------------------------------- */
.admin-navbar {
  background-color: hsla(220, 100%, 20%, 1);
  padding: 0.3125rem 0.625rem;
}
.admin-navbar a {
  color: hsla(220, 70%, 75%, 1);
  font-size: 0.8125rem;
}
.admin-navbar a:hover, .admin-navbar a:focus {
  color: #eee;
}
.admin-navbar .fa:hover {
  border: none;
}

/* General NavBar styles
-------------------------------------------------- */
#kcom-nav-first-text {
  margin-top: 1.5%;
  margin-left: 5.7%;
  float: left;
}

#kcom-nav-second-text {
  margin-top: 2.9%;
  margin-left: 6.3%;
  position: absolute;
  float: left;
}

.kcom-nav-text {
  font-weight: bold;
  color: #615858;
}

.navbar {
  box-shadow: 0 0.125rem 0.375rem 0 hsla(0, 0%, 0%, 0.2);
}

.navbar-blue {
  margin: 0px;
  padding: 0px;
  width: 100%;
  background-color: #2b78e4;
  text-align: center;
  height: 3.5625rem;
}

.navbar-white {
  background-color: #f9f9f9;
  color: #615858 !important;
  height: 4.75rem;
  padding-right: 0px;
  padding-left: 0px;
}

.nav-link {
  color: #f9f9f9;
}
.nav-tabs .nav-link {
  color: #000000;
  font-size: 1.0625rem;
  padding: 0.625rem 1.875rem;
}
.nav-tabs .nav-item.nav-link.active, .nav-item:focus {
  color: #0e356c;
  border-bottom: 0.125rem solid #f9f9f9;
}

.nav-link-contact {
  width: 7vw;
}

.btn-nav-partner {
  height: 2.0625rem;
  font-size: 0.8em;
  border-radius: 0px;
  border: 0.0625rem solid #615858;
  color: #f9f9f9;
  background-color: #e67f0d;
}

.btn-nav-partner:hover {
  cursor: pointer;
}

.nav-item-blue {
  transition: 0.6s;
  color: #f9f9f9;
  text-decoration: none;
  padding: 0.5rem 0;
}

.nav-item-blue:hover {
  border-bottom: 0.125rem solid #f9f9f9;
}

.nav-link-blue:hover {
  color: #f9f9f9;
}

.nav-partner {
  margin-top: 0.2%;
  padding-right: 0px;
  padding-left: 0px;
  margin-right: 0px;
  margin-left: 0px;
}

.nav-link-partner {
  padding-right: 0px;
}

.nav-icon-ul {
  float: right;
  text-align: right;
  padding: 1% 2.5rem 0 0;
}

.nav-icon {
  margin: 0px;
  color: #615858;
  padding-top: 2%;
}

.nav-icon:hover {
  border-top: none;
  border-bottom: none;
  color: #615858;
}

.nav-user-icon {
  padding-top: 20%;
}

.nav-search {
  height: 2.375rem;
  width: 15vw;
  font-size: 2.2vh;
}

.nav-search::placeholder {
  color: #b3a9a9;
  font-size: 2vh;

}

.nav-search-icon {
  font-size: 2vh;
}

.active {
  color: #03161b;
}
.active:hover {
  color: #03161b;
}

/* Search NavBar styles
-------------------------------------------------- */
/* enable absolute positioning */
.inner-addon { 
  position: relative; 
  margin-right: 15%;
}

/* style icon */
.inner-addon .fa {
position: absolute;
padding: 4%;
pointer-events: none;
}

/* align icon */
.left-addon .fa  { left:  0px;}
.right-addon .fa { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  5%; }
.right-addon input { padding-right: 5%; }

/* Dropdown NavBar styles
-------------------------------------------------- */
.dropbtn {
  color: #615858;
  border: none;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 10rem;
  box-shadow: 0px 0.5rem 1rem 0px rgba(0,0,0,0.2);
  right: 0;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: #000000;
  padding: 0.75rem 1rem;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f9f9f9}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}


.node-list p {
  padding: 1.5625rem 0 0.3125rem 0;
}

.node-list span h5 {
  padding: 0px;
}

.searcharea {
  background-color: #dddddd;
  border: 0.0625rem solid #333333;
  height: 2.8125rem;
}

.searchbox {
  border-radius: 0;
  padding: .3rem .45rem;
  width: 80%;
  font-size: 1.2rem;
  line-height: 1.25rem;
  color: #464a4c;
  background-color: #fff;
  background-image: none;
  background-clip: padding-box;
  border: 0.0625rem solid rgba(0,0,0,.15);
  transition: border-color ease-in-out .15s,
    box-shadow ease-in-out .15s,
    -webkit-box-shadow ease-in-out .15s;
}

.loader {
  border: 1rem solid #f3f3f3; /* Light grey */
  border-top: 1rem solid #2b78e4;
  border-bottom: 1rem solid #2b78e4;
  border-radius: 50%;
  width: 7.5rem;
  height: 7.5rem;
  animation: spin 2s linear infinite;
}
.loader-small {
  border: 1rem solid #f3f3f3; /* Light grey */
  border-top: 1rem solid #2b78e4;
  border-bottom: 1rem solid #2b78e4;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* SIGNIN FORM STYLES
-------------------------------------------------- */

.form-signin {
  width: 80%;
  padding: 3.125rem 0;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 0.625rem;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 0.625rem;
  font-size: 1rem;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 0.625rem;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.profile-info {
  height: 3.125rem;
  padding: 1.25rem 0.625rem;
  font-size: 1rem;
}

thead.kcom-table {
  color: white;
  background-color: #2b78e4;
}

.kcom-table td, .kcom-table th {
  border: 0.0625rem solid #cfcfcf;
}

/* =================================
  REACT-QUILL
================================= */
.ql-editor{
  height: 500px !important;
  overflow: hidden;
  overflow-y: scroll;
  overflow-x: scroll;
}

/* =================================
  REACT-PAGINATE
================================= */
ul.pagination li a .fas {
  padding: 0;
}
